@import url('https://fonts.googleapis.com/css?family=Lato|Open+Sans|Sigmar+One');
h1, h2, h3 {
    font-family: 'Sigmar One', cursive;
}

p, a, li {
    font-family: 'Lato', sans-serif;
}

.title {

}

.subtitle {
    text-align: center;
}

.hero {
    border-radius: 1em;
}

/* Main container class. */
.directions {
    padding-left: 20%;
    padding-right: 20%;
}
