<section style="text-align:center">
  <h1 class="title">
    {{ title }}!
  </h1>
  <img class="hero" width="300" alt="Wiener Pizza" src="/assets/pizza.jpg">
</section>
<section class="stats">
    <p class="subtitle"><b>Wiener Pizza</b> is <i>handcrafted</i> in an oven.</p>
    <div>
        <h3><i>Ingredients</i></h3>
        <ul>
            <li>European style butter</li>
            <li>Mozzarella</li>
            <li>Tomato Sauce</li>
            <li>🌭</li>
            <li>European style butter.</li>
        </ul>
    </div>

    <div>
        <h3><i>Directions</i></h3>
        <ol>
            <li>Do a regular pizza base</li>
            <li>Add sauce</li>
            <li>mix mozzarella</li>
        </ol>
    </div>
    <p>Then ya just top with <i>spirals of hotdogs</i>.</p>
    <p class="author">--From a man who identifies as white, but not European.</p>
</section>
